@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inheri;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: "DecimaNovaPro";
  font-display: swap;
  src: url("../fonts/DecimaNovaPro-Bold.woff") format("woff"), url("../fonts/DecimaNovaPro-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DecimaNovaPro";
  font-display: swap;
  src: url("../fonts/DecimaNovaPro-BoldItalic.woff") format("woff"), url("../fonts/DecimaNovaPro-BoldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DecimaNovaPro";
  font-display: swap;
  src: url("../fonts/DecimaNovaPro-Italic.woff") format("woff"), url("../fonts/DecimaNovaPro-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "StampborGrungeRussian";
  font-display: swap;
  src: url("../fonts/StampborGrungeRussian.woff") format("woff"), url("../fonts/StampborGrungeRussian.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  position: relative;
  overflow: hidden;
}

.header::before {
  content: '';
  display: block;
  width: 100%;
  min-height: 500px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#080808), to(rgba(8, 8, 8, 0)));
  background-image: -o-linear-gradient(bottom, #080808 0%, rgba(8, 8, 8, 0) 100%);
  background-image: linear-gradient(to top, #080808 0%, rgba(8, 8, 8, 0) 100%);
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}

.header__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: url("../img/bg-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__content {
  min-height: 812px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 105px 0 95px 0;
  position: relative;
}

.header__text {
  margin: 0 0 35px 0;
  font-family: "Decima Nova Pro";
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
}

.header__title {
  font-family: "StampborGrungeRussian";
  color: #ffffff;
  font-weight: 400;
  font-size: 91px;
  line-height: 35px;
  margin: 0 0 90px 0;
  display: block;
  position: relative;
  z-index: -4;
}

.header__title_red {
  color: #b12f2f;
}

.header__title_bottom {
  display: block;
  font-family: "StampborGrungeRussian";
  font-size: 91px;
  font-weight: 400;
  line-height: 35px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__title_marginn {
  margin-left: 80px;
}

.header__title_margin {
  display: inline-block;
  margin-left: 115px;
}

.header__top {
  font-size: 117px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  margin: 0 0 80px 0;
}

.header__subtitle {
  font-size: 22px;
  line-height: 18px;
}

.header__subtitle span {
  display: block;
  margin: 15px 0 20px 0;
  font-family: "StampborGrungeRussian";
  font-size: 45px;
  line-height: 22px;
}

.form {
  width: 970px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form label {
  width: 100%;
  height: 50px;
  position: relative;
}

.form label::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 1px;
  height: 30px;
  background: red;
}

.form label:nth-child(3)::after {
  display: none;
}

.form label input {
  width: 100%;
  height: 100%;
  padding: 0 0 0 30px;
}

.block__btn {
  padding: 0 50px;
  white-space: nowrap;
  color: #ffff;
  background-color: #b12f2f;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 18px;
}

.quetions {
  padding: 82px 0;
}

.quetions__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -50px;
  text-align: center;
}

.quetions__column {
  background: url("../img/qua.png") no-repeat;
  background-size: contain;
  background-position: center center;
  min-height: 101px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  padding: 0 50px;
  font-size: 17px;
  line-height: 30px;
}

.section-timer {
  background: url("../img/bg-2.png") center no-repeat;
  background-size: cover;
  min-height: 850px;
  padding: 250px 0 0 0;
}

.section-timer__top {
  background: url("../img/rame.png") no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  min-height: 120px;
  margin: 0 0 60px 0;
}

.section-timer__name {
  display: block;
  width: 1050px;
  text-align: center;
  position: relative;
  top: -7px;
  left: 52%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 19px;
}

.section-timer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 30px 0;
  font-size: 20px;
  font-weight: 700;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-timer__list::before {
  content: '';
  display: inline-block;
  vertical-align: text-bottom;
  width: 35px;
  height: 35px;
  background: url("../img/icon-timer.svg") no-repeat;
  background-size: cover;
  margin-right: 11px;
}

.section-timer__list:nth-child(3)::before,
.section-timer__list:nth-child(4)::before {
  display: none;
}

.section-timer__list:nth-child(3)::after,
.section-timer__list:nth-child(4)::after {
  content: '';
  display: inline-block;
  vertical-align: text-bottom;
  width: 35px;
  height: 35px;
  background: url("../img/icon-timer.svg") no-repeat;
  background-size: cover;
  margin-left: 11px;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.section-timer__timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 40px 0;
}

.section-timer__descri {
  text-align: right;
  width: 225px;
  font-size: 19px;
  font-weight: 400;
  margin-right: 30px;
}

.section-timer__time {
  font-size: 45px;
  font-weight: 700;
}

.section-timer__text {
  font-size: 14px;
  font-weight: 400;
  margin-right: 40px;
}

.section-timer__text:last-child {
  margin-right: 0;
}

.middle {
  text-align: center;
}

.form {
  text-align: center;
}

.form__title {
  text-align: center;
  font-family: "StampborGrungeRussian";
  font-size: 45px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 27px 0;
}

.section-resultat {
  padding: 80px 0;
}

.section-resultat__title {
  font-family: "StampborGrungeRussian";
  font-size: 45px;
  font-weight: 400;
  margin: 0 0 70px 0;
}

.section-resultat__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-resultat__top img {
  display: block;
  position: relative;
  z-index: 3;
  top: -90px;
  width: 468px;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-resultat__items {
  padding-left: 30px;
}

.section-resultat__list {
  padding: 0 0 150px 10px;
}

.section-resultat__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 32px 0;
}

.section-resultat__list li::before {
  content: '';
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  width: 16px;
  height: 16px;
  background: url("../img/result-icon.png") center no-repeat;
  margin-right: 10px;
}

.section-resultat__text {
  position: relative;
  z-index: 2;
  top: -125px;
  background: url("../img/ram-2.png") no-repeat;
  background-size: cover;
  padding: 30px 0;
  text-align: center;
  background-position: 50% 50%;
  min-height: 222px;
}

.section-resultat__text p {
  width: 770px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.section-resultat__name {
  margin: 0 0 20px 0;
  font-family: "StampborGrungeRussian";
  font-size: 40px;
}

.section-resultat__citat {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}

.section-resultat__citat span {
  position: relative;
  display: block;
  color: #b12f2f;
  font-weight: 700;
  font-style: italic;
  margin: 0 0 20px 0;
}

.section-resultat__citat span::before {
  content: '“';
  position: absolute;
  top: -17px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: inline-block;
  font-size: 80px;
  line-height: 28px;
}

.section-programs {
  background: url("../img/programs-bg.png") center no-repeat;
  background-size: cover;
  padding: 157px 0 75px 0;
}

.programs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -80px;
}

.programs__column {
  margin: 0 80px 52px 80px;
  position: relative;
  width: 235px;
}

.programs__column span {
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
  display: block;
}

.programs__column span::before,
.programs__column span::after {
  content: '';
  display: inline-block;
  position: absolute;
  background: url("../img/tr.png") no-repeat;
  width: 15px;
  height: 15px;
}

.programs__column span::before {
  top: 0;
  left: 0;
}

.programs__column span::after {
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section-feed {
  padding: 100px 0 60px 0;
}

.feed__btn-position {
  position: relative;
}

.feed__btn-position .button-sw {
  position: absolute;
  z-index: 50;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.feed__btn-position .button-sw:hover path {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  fill: #232323;
}

.feed__btn-position .button-prev {
  left: -80px;
}

.feed__btn-position .button-next {
  right: -80px;
}

.feed__slider {
  position: relative;
}

.feed__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.feed__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}

.feed__column img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.feed__column::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8c8b8b7d;
}

.feed__btt {
  position: absolute;
  right: 0;
  top: 37px;
  font-size: 20px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  padding: 0 45px;
  background-color: #0b0b0b;
  line-height: 25px;
}

.feed__btt_red {
  width: 0;
  left: 0;
  background-color: #b12f2f;
}

.feed__name {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 23px;
  font-weight: 400;
  text-align: center;
}

.feed__name span {
  display: block;
  font-size: 15px;
  margin-top: 20px;
  color: #d0d0d0;
}

.feed__text {
  text-align: center;
  font-size: 20px;
  color: #d0d0d0;
  margin-top: 25px;
}

.feed__btn {
  display: inline-block;
  margin-top: 25px;
  color: #b12f2f;
  font-family: "Decima Nova Pro Lt";
  font-size: 16px;
  background: 0;
  vertical-align: baseline;
}

.feed__btn:after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 5px;
  background: url("../img/icon-feed.png") right no-repeat;
  background-size: cover;
  margin-left: 5px;
}

.section-photo {
  background: url("../img/photo-bg.jpg") center no-repeat;
  background-size: cover;
  min-height: 800px;
  padding: 77px 0 0 0;
}

.photo__actions {
  background-color: #b12f2f;
  padding: 0 10px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.photo__actions:hover {
  -webkit-transform: translate(0, -2px);
      -ms-transform: translate(0, -2px);
          transform: translate(0, -2px);
}

.photo__text {
  text-align: center;
  margin: 0 0 40px 0;
  font-size: 20px;
}

.photo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 80px;
}

.photo__img {
  display: block;
  width: 170px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo__img {
  margin-right: 10px;
  margin-bottom: 10px;
}

.photo__nr1,
.photo__nr2,
.photo__nr3,
.photo__nr4 {
  position: relative;
}

.photo__nr1::before,
.photo__nr2::before,
.photo__nr3::before,
.photo__nr4::before {
  content: '1';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: 700;
}

.photo__nr2::before {
  content: '2';
}

.photo__nr3::before {
  content: '3';
}

.photo__nr4::before {
  content: '4';
}

.section-video {
  background: url("../img/video-bg.jpg") center no-repeat;
  background-size: cover;
  min-height: 600px;
  padding-top: 60px;
}

.video__content {
  text-align: center;
  margin-top: 13%;
}

.video__link:hover path {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  fill: red;
}

.video__text {
  display: block;
  margin-top: 20px;
}

.abaut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.abaut__img {
  position: relative;
  z-index: 2;
  top: -120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.abaut__content {
  padding: 45px 0 80px 0;
}

.abaut__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  left: -119px;
  top: 0;
  margin: 0 0 62px 0;
}

.abaut__title {
  position: relative;
  font-size: 131px;
  font-weight: 400;
  margin-right: 40px;
  line-height: 94px;
  font-family: "StampborGrungeRussian";
}

.abaut__title::after {
  content: '';
  display: inline-block;
  width: 66px;
  height: 14px;
  background: url("../img/abaut-line.png") no-repeat;
  position: absolute;
  right: -110px;
  top: 77px;
}

.abaut__title span {
  padding-left: 60px;
}

.abaut__subtitle {
  font-size: 20px;
  font-weight: 400;
  min-width: 400px;
  line-height: 28px;
}

.abaut__text {
  padding-left: 80px;
}

.abaut__list {
  margin: 0 0 52px 0;
}

.abaut__list li {
  font-size: 17px;
  line-height: 32px;
  margin: 0 0 10px 0;
  background: url("../img/icon-abaut.png") left no-repeat;
  padding-left: 35px;
}

.block__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  height: 50px;
  padding: 0 35px;
  background-color: #b12f2f;
}

.section-treners {
  margin: 0 0 70px 0;
}

.section-treners .section__title {
  font-size: 35px;
}

.section-treners .section__title_red {
  font-size: 45px;
}

.treners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.treners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 32px 0;
  max-width: 560px;
}

.treners__img {
  width: 270px;
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
}

.treners__text {
  padding-left: 30px;
}

.treners__name {
  font-family: "Stampbor Grunge Russian";
  font-size: 45px;
  line-height: 50px;
  margin: 0 0 20px 0;
}

.treners__profesion {
  font-size: 18px;
}

.section-citat {
  background: url("../img/citat-bg.jpg") center no-repeat;
  background-size: cover;
  min-height: 650px;
  padding: 8% 0 8% 0;
}

.citat__text {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  margin: 0 0 150px 0;
  line-height: 28px;
  position: relative;
}

.citat__text::before {
  content: '“';
  display: inline-block;
  color: #b12f2f;
  font-size: 80px;
  position: absolute;
  left: 50%;
  top: -18px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.section-records .form label::after {
  display: none;
}

.records__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px 0;
}

.records__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.records__column p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 34px;
}

.records__video {
  min-height: 420px;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.records__link {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px;
  height: 35px;
  background-color: #b12f2f;
  border-radius: 10px;
  position: relative;
}

.records__link::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 57px;
  background: url("../img/video-rec.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: -80px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.records__link span {
  background: url("../img/video-icon.svg") left no-repeat;
  background-size: contain;
  padding-left: 30px;
  display: block;
}

.records__title {
  font-family: "StampborGrungeRussian";
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 5%;
  line-height: 50px;
  white-space: nowrap;
}

.records__text {
  padding-left: 20px;
}

.section-whatis {
  background: url("../img/what-is-bg.jpg") center no-repeat;
  background-size: cover;
  min-height: 1050px;
  padding: 60px 0;
}

.section-whatis .section-resultat__title {
  font-family: "StampborGrungeRussian";
  font-size: 70px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
}

.section-whatis .section-resultat__title span {
  color: #b12f2f;
}

.section-whatis .section-resultat__title {
  line-height: 60px;
}

.whatis__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.whatis__items :nth-child(3) .whatis__text::after,
.whatis__items :nth-child(6) .whatis__text::after,
.whatis__items :nth-child(9) .whatis__text::after {
  display: none;
}

.whatis__item {
  margin-top: 130px;
}

.whatis__text {
  display: block;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  max-width: 348px;
  text-align: center;
}

.whatis__text::before {
  content: '';
  display: inline-block;
  width: 46px;
  height: 47px;
  background: url("../img/what-is.png") center no-repeat;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.whatis__text::after {
  content: '';
  display: inline-block;
  background: url("../img/line-what-is.png") right no-repeat;
  width: 302px;
  height: 6px;
  position: absolute;
  right: calc(-50% + (-20px));
  top: -40px;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.whatis__subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  text-align: center;
}

.whatis__link {
  margin: 100px 0 0 0;
}

.footer .swiper-container {
  min-height: 650px;
  text-align: center;
  padding: 0 0 230px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .swiper-container .parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.footer .swiper-container .swiper-pagination {
  bottom: 70px;
}

.footer .swiper-container .swiper-pagination-bullet {
  width: 20px;
  height: 31px;
  font-family: "StampborGrungeRussian";
  display: inline-block;
  text-align: center;
  line-height: 20px;
  font-size: 60px;
  color: #fff;
  opacity: 1;
  background: 0;
  margin: 0 20px;
}

.footer .swiper-container .swiper-pagination-bullet-active {
  color: #b12f2f;
}

.footer .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 20px;
}

.parallax-bg {
  background: url("../img/footer-bg.jpg") no-repeat;
  background-size: cover;
}

.swiper-slide__name {
  position: relative;
  z-index: 5;
  font-family: "StampborGrungeRussian";
  font-size: 60px;
  line-height: 60px;
}

.swiper-slide__title {
  font-family: "StampborGrungeRussian";
  font-size: 75px;
  margin-bottom: 40px;
}

.swiper-slide__subtitle {
  font-size: 25px;
  line-height: 35px;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "DecimaNovaPro";
}

body.lock {
  overflow: hidden;
}

.section__title {
  font-family: "StampborGrungeRussian";
  font-size: 60px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 40px;
}

.section__title_meed {
  font-size: 45px;
}

.section__title_red {
  font-size: 45px;
  color: #b12f2f;
}

.popup__close,
.modal__close {
  position: absolute;
  z-index: 5000000000000;
  right: -60px;
  top: -60px;
}

.popup__close:hover path,
.modal__close:hover path {
  fill: #b12f2f;
}

.popup__body,
.modal__body {
  background: url("../img/popup-bg.png") center no-repeat;
  width: 1170px;
  background-size: cover;
  position: relative;
  min-height: 370px;
  padding: 50px 96px;
  text-align: center;
}

.popup__title,
.modal__title {
  font-family: "Stampbor Grunge Russian";
  font-size: 60px;
  font-weight: 400;
  margin: 0 0 30px 0;
  line-height: 45px;
}

.popup__subtitle,
.modal__subtitle {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 30px 0;
  line-height: 18px;
}

.modal-overlay {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 300;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.884);
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal {
  display: none;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

@media (max-width: 1600px) {
  .abaut__img {
    top: 0;
  }

  .abaut__top {
    left: 0;
    display: block;
  }

  .abaut__title {
    margin-right: 0;
  }

  .abaut__title::after {
    display: none;
  }

  .abaut__title span {
    padding-left: 0;
  }

  .abaut__subtitle {
    display: block;
    margin-top: 20px;
  }
}

@media (max-width: 1490px) {
  .section-resultat__text {
    background-size: 0;
  }
}

@media (max-width: 1450px) {
  .quetions__row {
    margin: 0;
  }

  .section-video {
    min-height: 500px;
    padding-top: 20px;
  }
}

@media (max-width: 1410px) {
  .feed__btn-position .button-prev {
    left: 0;
  }

  .feed__btn-position .button-next {
    right: 0;
  }
}

@media (max-width: 1400px) {
  .section-feed {
    padding: 20px 0 10px 0;
  }

  .section-citat {
    min-height: 400px;
  }

  .citat__text {
    margin: 0 0 050px 0;
  }

  .records__title {
    white-space: normal;
  }

  .swiper-slide__name {
    font-size: 45px;
  }
}

@media (max-width: 1360px) {
  .whatis__text::after {
    display: none;
  }
}

@media (max-width: 1350px) {
  .quetions {
    padding: 30px 0;
  }

  .section-timer__top {
    background: 0;
    margin: 0 0 20px 0;
  }

  .section-timer__name {
    width: 100%;
  }
}

@media (max-width: 1320px) {
  .section-timer {
    padding: 20px 0 20px 0;
    min-height: 560px;
  }

  .section__title {
    font-size: 45px;
  }

  .section__title_meed {
    font-size: 25px;
  }
}

@media (max-width: 1200px) {
  .header__content {
    min-height: 600px;
    padding: 50px 0 95px 0;
  }

  .section-resultat__title {
    margin: 0 0 30px 0;
  }
}

@media (max-width: 1158px) {
  .treners__items {
    max-width: 100%;
  }

  .treners__text {
    padding-left: 0;
  }
}

@media (max-width: 1080px) {
  .photo__images {
    padding: 0;
  }
}

@media (max-width: 1005px) {
  .form {
    width: 800px;
  }

  .block__btn {
    padding: 0 20px;
  }
}

@media (max-width: 1000px) {
  .section-resultat__text p {
    width: 100%;
  }

  .section-programs {
    padding: 20px 0 20px 0;
  }

  .abaut {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
  }

  .abaut__top {
    text-align: center;
  }

  .abaut__text {
    padding-left: 0;
  }

  .abaut__list li {
    margin: 0 0 10px 30px;
  }

  .block__link {
    padding: 0 10px;
    font-size: 14px;
  }

  .whatis__subtext {
    margin-top: 40px;
  }

  .whatis__link {
    margin: 20px 0 0 0;
  }
}

@media (max-width: 922px) {
  .header__title {
    margin: 0 0 20px 0;
    z-index: 2;
    font-size: 70px;
    line-height: 60px;
  }

  .header__title_marginn {
    margin-left: 0;
  }

  .header__title_margin {
    margin-left: 0;
  }

  .header__title_bottom {
    font-size: 70px;
  }
}

@media (max-width: 900px) {
  .form {
    width: 60%;
    display: block;
  }

  .form label input {
    margin: 0 0 10px 0;
    height: 40px;
  }

  .block__btn {
    padding: 10px 20px;
  }

  .quetions__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }

  .quetions__column {
    padding: 0 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 0 10px 0;
  }

  .abaut__title {
    font-size: 60px;
    line-height: 30px;
  }
}

@media (max-width: 880px) {
  .header__bg {
    background-position: top;
  }

  .treners__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .treners__items {
    display: block;
    text-align: center;
  }
}

@media (max-width: 875px) {
  .header__subtitle {
    font-size: 20px;
  }

  .header__subtitle span {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  .container {
    overflow: hidden;
  }

  .section-resultat__top img {
    display: none;
  }

  .section-resultat__list {
    padding: 0;
  }

  .section-resultat__text {
    top: 0;
  }
}

@media (max-width: 780px) {
  .feed__btt {
    font-size: 14px;
    top: 0px;
    padding: 0 18px;
    height: 25px;
  }

  .feed__name {
    bottom: 0;
    font-size: 18px;
    line-height: 18px;
  }

  .feed__name span {
    margin-top: 10px;
    line-height: 15px;
  }
}

@media (max-width: 750px) {
  .section-timer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
  }

  .section-timer ul li {
    margin: 0 0 10px 0;
  }

  .section-timer .section-timer__timer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-timer .section-timer__descri {
    margin: 0 0 10px 0;
  }

  .section-timer .section-timer__time {
    font-size: 35px;
  }

  .form__title {
    font-size: 25px;
  }
}

@media (max-width: 735px) {
  .whatis__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 700px) {
  .header__content {
    min-height: 568px;
    padding: 10px 0 20px 0;
  }

  .header__text {
    margin: 0;
  }

  .quetions__column {
    padding: 0 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .section-photo {
    padding: 20px 0 0 0;
  }

  .section-treners {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 660px) {
  .form {
    width: 100%;
  }

  .form label input {
    margin: 0 0 5px 0;
    height: 30px;
  }
}

@media (max-width: 640px) {
  .header__title {
    font-size: 45px;
  }

  .header__title_bottom {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .feed__btn-position .button-sw svg {
    width: 20px;
    height: 20px;
  }

  .footer .swiper-container {
    padding: 0 0 100px 0;
  }

  .footer .swiper-container .swiper-pagination-bullet {
    font-size: 25px;
    font-weight: 700;
  }

  .footer .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }

  .swiper-slide__name {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: 500px) {
  .section-video {
    min-height: 400px;
  }
}

@media (max-width: 400px) {
  .feed__name {
    font-size: 14px;
  }

  .block__btn {
    padding: 5px 5px;
  }
}

@media (max-width: 380px) {
  .photo__row {
    display: block;
  }
}